

.book-container{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.book{
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1920px;
  height: 90vh;
  max-height: 1080px;
  background-color: rgb(52, 51, 51);
  margin: auto;
  border: 1px solid gray;
  border-radius: 18px;
  justify-content: center;
  padding: 30px;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.book-list{
  list-style: none;
  border: 1px solid red;
  width: 100%;
  height: 100%;
}

.book-item{
  font-size: 12px;
  border: 1px solid rgb(0, 255, 115);
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
}