.hero-content {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  background-image: url("/src/assets/greg-rakozy-oMpAz-DN-9I-unsplash.webp");
  background-size: cover;
  background-position: center 70%;
  overflow: hidden;
}

.hero-content img {
  position: relative;
  width: 100%;
}

.star-animation {
  width: 80%;
}

.star-span {
  position: absolute;
  top: -50px;
  background: #fff;
  border-radius: 50%;
  width: 2px;
  height: 2px;
}
.star-span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5em;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0%,
  40% {
    transform: rotate(315deg) translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-35em);
    opacity: 0;
  }
}

@keyframes pause {
  0%,
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.star-span:nth-child(1) {
  opacity: 0;
  position: absolute;
  top: 50px;
  right: 46%;
  animation: animate 2s linear infinite, pause 6s infinite;
}

.star-span:nth-child(2) {
  opacity: 0;
  position: absolute;
  top: -50px;
  right: 50%;
  animation: animate 2s linear infinite, pause 14s infinite;
}

.star-span:nth-child(3) {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 1%;
  animation: animate 2s linear infinite, pause 16s infinite;
}

.star-span:nth-child(4) {
  opacity: 0;
  position: absolute;
  top: -10px;
  right: 26%;
  animation: animate 2s linear infinite, pause 20s infinite;
}

.phrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  color: #fff;
  width: 90%;
  height: 80vh;
  max-height: 700px;
  padding-bottom: 10%;
}

.phrase-hidden {
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.prhase-show {
  transition: opacity 0.95s ease-in-out;
  font-size: 80px;
  opacity: 1;
  text-shadow: 10px 10px 10px black;
}

.prev-holder {
  position: absolute;
  height: 90px;
}

.to {
  position: absolute;

  top: 30px;
}

.infinity {
  position: absolute;

  top: 100px;
}

.and {
  position: absolute;

  top: 180px;
}

.beyond {
  position: absolute;

  top: 250px;
}

.phrase-holder {
  transition: top 0.95s ease-in-out;
  height: 90px;
}

.phrase-holder-late {
  transition: top 1.8s ease-in-out;
  height: 90px;
}



.hidden1 {
  top: 0px;
}

.hidden2 {
  top: 30px;
}

.hidden3 {
  top: 40px;
}

.hidden4 {
  top: 60px;
}
