.landing-page {
  display: block;
  justify-content: center;
  margin: 0;
}

.spline-container {
  width: 100vw !important;
  height: 77dvh !important;
}
.buttons-container{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.landing-button{
width: 35em;
height: 3em;
margin: 10px auto;
background-color: rgb(199, 199, 199);
border-radius: 8px;
border: none;
}

@media (max-width:40em) {
    .landing-button{
        width: auto;
        height: 3em;
        margin: 10px;
        background-color: rgb(199, 199, 199);
        border-radius: 8px;
        border: none;
        }
        
}
