.solar-system-container {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 88vh;
  align-items: center;
  width: 99%;
  margin: 0 auto;
  background-color: black;
}


.over-solar-system {
  background-color: black;

  /* margin-top: 7%; */
  padding-top: 70px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-width: 1920px;

}


.iframe {
  background-color: black;
  position: absolute;
  top: -9vh;
  border: 1px solid rgb(161, 145, 145);
  width: 102vw !important;
  height: 102vh !important; 
}