body {
    margin: 0;
    padding: 0;
    background-color: #000000;
  }

.titolo-suit{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.main {
    width: 770px;
    height: 300px;
    box-sizing: border-box;
    padding: 3em;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .main::before,
  .main::after {
    content: "";
    width: 600px;
    height: 0;
    box-sizing: inherit;
    margin-top: 30px;
    margin-bottom: -30px;
    border: 3px solid transparent;
    position: absolute;
  }
  
  .main::before {
    top: 0;
    left: 0;
  }
  
  .main::after {
    bottom: 0;
    right: 0;
    z-index: 999;
  }
  
  .main:hover::before {
    width: 100%;
    height: 110%;
  }
  
  .main:hover::before {
    border-top-color: #787878;
    border-right-color: #787878;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }
  
  
  .product__image {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 500px;
    transition: 0.5s;
  }

  .product__image:hover{
    margin-left: -70px;
  }

  .container {
    width: 1000px;
    height: 200px;
    margin-top: 20px;
  }
  
  .title {
      font-size: 35px;
      color:#ffffff;
      margin-bottom: 50px;
      position: relative;
      top:0;
      left: 0;
      transition: all 1s;
      z-index: 9;
  }
  .title > span{
      font-size: 18px;
      display:block;
      color: #ffffff;
  }
  .desc{
      width: 300px;
      font-size: 14px;
      color:#ffffff;
      left:0;
      bottom: 2rem;
      line-height: 1.8;
      position: relative;
      transition: all 1s;
  }
  .main:hover .container .title,
  .main:hover .container .desc{
      left:40%;
  }

  .table-tuta {
    width: 30%;
    border-collapse: collapse;
    position: relative;
    transition: transform 0.8s ease-in-out;
  }

  .main:hover .table-tuta{
    transform: translateX(130%);
  }

  th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    color: white;
    font-size: 15px;
}
  


  @media screen and (max-width: 800px) {
    .product__image{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 300px;
    transition: 0.5s;
    }

    .product__image:hover{
        margin-left: -70px;
    }

    .container {
        width: 600px;
        height: 400px;
        margin-top: 20px;
      }

      .main:hover::before {
        width: 90%;
        height: 100%;
      }

      .table-tuta {
        width: 30%;
        border-collapse: collapse;
        position: relative;
      }
    
      .main:hover .table-tuta{
        transform: translateX(80%);
      }
    
      th, td {
        border: 1px solid rgb(255, 255, 255);
        padding: 8px;
        text-align: center;
        color: white;
        font-size: 15px;
    }
  }



  @media screen and (max-width: 400px) {
    .main {
        position: static; /* Resetta la posizione */
        width: auto;
        height: auto;
        padding: 1em; /* Riduci il padding per adattarsi meglio ai dispositivi mobili */
        transform: none; /* Resetta la trasformazione */
        margin-top: 50px; /* Aggiungi spazio sopra il contenuto */
    }

    .product__image {
        position: static;
        transform: none;
        margin: 0 auto; /* Centra l'immagine orizzontalmente */
        width: 80%; /* Riduci la larghezza dell'immagine per adattarsi meglio ai dispositivi mobili */
        max-width: 300px; /* Imposta una larghezza massima */
        display: block; /* Imposta l'immagine come blocco per centrarla correttamente */
        margin-bottom: 20px; /* Spazio tra l'immagine e il titolo */
    }

    .container {
        width: 100%; /* Larghezza massima */
        text-align: center; /* Centra il testo */
    }

    .title {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .desc {
        width: 100%;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 5px; /* Spazio tra la descrizione e la tabella */
    }

    .table-tuta {
        width: 100%;
        margin: 0 auto; /* Centra la tabella */
    }
  }